.project-details {
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 8px;
  margin: 2rem;
  }
  
  .project-details h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
    font-family: Arial, 'sans-serif';
  }
  
  .project-details h3 {
    font-size: 1.5rem;
    margin-top: 2rem;
    color: #555;
  }
  
  .project-details input,
  .project-details textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 1rem;
  }
  
  .project-details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
  }
  
  .project-details table,
  .project-details th,
  .project-details td {
    border: 1px solid #ccc;
  }
  
  .project-details th,
  .project-details td {
    padding: 0.5rem;
    text-align: left;
  }

.mainContent{
  flex: 1;
  padding: 5.5rem;
  margin-left: 12rem; /* Barra lateral fixa */
  height: 100vh; /* Garante que o conteúdo ocupe toda a altura da tela */
  overflow-y: auto;
  margin-top: -6%;
}
.addMatrial{
  background-color: #7fdb5b;
  border: none;
  border-radius: 5px;
  padding: 0.5rem ;
  font-weight: bold;
  color: #fff;
}

.project-details input:focus,
.project-details textarea:focus,
.project-details select:focus {
  border-color: #007bff;
  outline: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color: #f8f8f8;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
}

.editBudget{
  background-color: rgb(240, 240, 65);
  border: none;
  font-family: Arial, 'sans-serif';
  padding: 0.5rem;
  width: 16%;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color:#fff;
  cursor: pointer;
}

.removeBudget{
  background-color: red;
  border: none;
  font-family: Arial, 'sans-serif';
  padding: 0.5rem;
  width: 16%;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color:#fff;
  margin-left: 10px;
  cursor: pointer;
}

.removeBudget:hover{
  color: #000;
}

.editBudget:hover{
  color: #000;
}
.trash{
  cursor: pointer;
  margin-left: 10px;
}